.range {
	position: relative;
}

.range__slider {
	margin-top: 62px;
	width: 100% !important;
	height: 8px !important;
	border-radius: 100px !important;
	background-color: #c2c2c2;
}

.range__slider .noUi-connect {
	background: $blue !important;
	border-radius: 4px !important;
}
