//--------------------------------------------------------------forms
- var default_select = {block_class_mod:'form__cell_filters', class_mod:'select_wrap form__select form__select_filters kdxvw-form__row', elem_class:'js-kdxvw-chosen'}

//--------------------------------------------------------------forms
- var headerMenuArray = {items:[{title:'News/blog',active:false},{title:'Team and story',active:false},{title:'In the media',active:true},{title:'Careers',active:false},{title:'Online shop',active:false},{title:'Past projects',active:false},{title:'Parners',active:false},{title:'Contact',active:false}],mod:'header_mod'}

//--------------------------------------------------------------slider
- var arraySlider = {title:'Выберите пробег или срок эксплуатации', id:'range_mileage'}

//--------------------------------------------------------------tables
- var tableHead_1 = [{class:'info__col info__col_1', text:'Наименование'},{class:'info__col info__col_2', text:'Норма времени, н/ч'},{class:'info__col info__col_3', text:'Стоимость н/ч, руб.'}, {class:'info__col info__col_4', text:'Стоимость, руб.'}]
- var tableHead_2 = [{class:'info__col info__col_1', text:'Наименование'},{class:'info__col info__col_2', text:'Кол-во шт. (л.)'},{class:'info__col info__col_3', text:'Цена за ед., руб.'}, {class:'info__col info__col_4', text:'Стоимость, руб.'}]

//--------------------------------------------------------------info__col
- var info_l_1 = [{class:'info__col info__col_name', span:'Базовый инспекционный сервис', text:'1 350,00', mod:''},{class:'info__col info__col_content info__col_content_1', text:'0,9', span:'Норма времени, н/ч', mod:''},{class:'info__col info__col_content info__col_content_2', text:'1 500,00', span:'Стоимость н/ч, руб.', mod:'info__col_cost'}, {class:'info__col info__col_content info__col_content_3', text:'1 350,00', span:'Стоимость, руб.', mod:'info__col_cost'}]
- var info_l_2 = [{class:'info__col info__col_name', span:'Фильтр. элемент воздушного фильтра', text:'150,00', mod:''},{class:'info__col info__col_content info__col_content_1', text:'0,1', span:'Норма времени, н/ч', mod:''},{class:'info__col info__col_content info__col_content_2', text:'1 500,00', span:'Стоимость н/ч, руб.', mod:'info__col_cost'}, {class:'info__col info__col_content info__col_content_3', text:'150,00', span:'Стоимость, руб.', mod:'info__col_cost'}]
- var info_l_3 = [{class:'info__col info__col_name', span:'Фильтр отопителя салона. Снять и установить', text:'150,00', mod:''},{class:'info__col info__col_content info__col_content_1', text:'0,1', span:'Норма времени, н/ч', mod:''},{class:'info__col info__col_content info__col_content_2', text:'1 500,00', span:'Стоимость н/ч, руб.', mod:'info__col_cost'}, {class:'info__col info__col_content info__col_content_3', text:'150,00', span:'Стоимость, руб.', mod:'info__col_cost'}]
- var info_l_4 = [{class:'info__col info__col_name', span:'Свечи зажигания. Снять и установить', text:'600,00', mod:''},{class:'info__col info__col_content info__col_content_1', text:'0,4', span:'Норма времени, н/ч', mod:''},{class:'info__col info__col_content info__col_content_2', text:'1 500,00', span:'Стоимость н/ч, руб.', mod:'info__col_cost'}, {class:'info__col info__col_content info__col_content_3', text:'600,00', span:'Стоимость, руб.', mod:'info__col_cost'}]

- var info_p_1 = [{class:'info__col info__col_name', span:'Пробка сливная масляного поддона картера двигателя с прокладкой', text:'160,00', mod:''},{class:'info__col info__col_content info__col_content_1', text:'1', span:'Кол-во шт. (л.)', mod:''},{class:'info__col info__col_content info__col_content_2', text:'160,00', span:'Цена за ед., руб.', mod:''}, {class:'info__col info__col_content info__col_content_3', text:'160,00', span:'Стоимость, руб.', mod:'info__col_cost'}]

- var info_add_l_name_1 = {check:'1', text:'Заменить тормозную жидкость', subtext:'(через 3 года с начала эксплуатации, затем каждые 2 года)'}
- var info__add_l_1 = [{class:'info__col info__col_content info__col_content_1', text:'0,9', span:'Норма времени, н/ч', mod:''},{class:'info__col info__col_content info__col_content_2', text:'1 500,00', span:'Стоимость н/ч, руб.', mod:'info__col_cost'}, {class:'info__col info__col_content info__col_content_3', text:'1 350,00', span:'Стоимость, руб.', mod:'info__col_cost'}]

- var info_add_l_name_2 = {check:'1', text:'Заменить задние колодки **', subtext:''}
- var info__add_l_2 = [{class:'info__col info__col_content info__col_content_1', text:'0,1', span:'Норма времени, н/ч', mod:''},{class:'info__col info__col_content info__col_content_2', text:'1 500,00', span:'Стоимость н/ч, руб.', mod:'info__col_cost'}, {class:'info__col info__col_content info__col_content_3', text:'150,00', span:'Стоимость, руб.', mod:'info__col_cost'}]

- var info_add_l_name_3 = {check:'0', text:'Заменить передние колодки **', subtext:''}
- var info__add_l_3 = [{class:'info__col info__col_content info__col_content_1', text:'0,1', span:'Норма времени, н/ч', mod:''},{class:'info__col info__col_content info__col_content_2', text:'1 500,00', span:'Стоимость н/ч, руб.', mod:'info__col_cost'}, {class:'info__col info__col_content info__col_content_3', text:'150,00', span:'Стоимость, руб.', mod:'info__col_cost'}]

- var info_add_p_name_1 = {check:'1', text:'Тормозная жидкость', subtext:''}
- var info__add_p_1 = [{class:'info__col info__col_content info__col_content_1', text:'1 ***', span:'Кол-во шт. (л.)', mod:''},{class:'info__col info__col_content info__col_content_2', text:'160,00', span:'Цена за ед., руб.', mod:'info__col_cost'}, {class:'info__col info__col_content info__col_content_3', text:'160,00', span:'Стоимость, руб.', mod:'info__col_cost'}]

- var info_add_p_name_2 = {check:'0', text:'Задние колодки', subtext:''}
- var info__add_p_2 = [{class:'info__col info__col_content info__col_content_1', text:'1', span:'Кол-во шт. (л.)', mod:''},{class:'info__col info__col_content info__col_content_2', text:'1 500,00', span:'Цена за ед., руб.', mod:'info__col_cost'}, {class:'info__col info__col_content info__col_content_3', text:'1 350,00', span:'Стоимость, руб.', mod:'info__col_cost'}]

- var info_add_p_name_3 = {check:'0', text:'Передние колодки', subtext:''}
- var info__add_p_3 = [{class:'info__col info__col_content info__col_content_1', text:'1', span:'Кол-во шт. (л.)', mod:''},{class:'info__col info__col_content info__col_content_2', text:'1 500,00', span:'Цена за ед., руб.', mod:'info__col_cost'}, {class:'info__col info__col_content info__col_content_3', text:'150,00', span:'Стоимость, руб.', mod:'info__col_cost'}]
