//fonts

@font-face {
	@include font-setup($font-fam1, $font-1-local, $font-1-url1, $font-1-url2);
  font-weight: 400;
}
@font-face {
	@include font-setup($font-fam2, $font-2-local, $font-2-url1, $font-2-url2);
  font-weight: 700;
}
@font-face {
	@include font-setup($font-fam3, $font-3-local, $font-3-url1, $font-3-url2);
  font-weight: 400;
}
@font-face {
	@include font-setup($font-fam4, $font-4-local, $font-4-url1, $font-4-url2);
  font-weight: 700;
}

//global styles

body {
	font-family: 'vwtextoffice-regular', sans-serif;
	@include font-param(15px, 15px, 400);
	position: relative;
	background-color: $white;
	padding: 0;
	min-width: 320px;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

input,
select,
img {
	outline: none;
}

dd,
dl {
	margin: 0;
}



//chosen

.kdxvw-form__row {
	padding: 0 !important;
	margin: 0 !important;
}

.kdxvw-form .chosen-container-single .chosen-single {
	height: 42px !important;
}

.chosen-container-single .chosen-single {
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 4px !important;
	border: 1px solid #dee1e3 !important;
}

.kdxvw-form__row b,
.kdxvw-form .chosen-container-multi .chosen-choices:after,
.kdxvw-form .kdxvw-check__selected:after {
	background-image: url('../img/icons/i-arrow-down-select.svg') !important;
	background-position: 50% 50%;
	position: absolute;
	right: 8px !important;
	transition: 0.3s;

}

.kdxvw-form .chosen-container-multi .chosen-choices:after,
.kdxvw-form .kdxvw-check__selected:after {
	right: 16px !important;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
	background-position: 50% 50%;
	transform: rotate(180deg);
	transition: 0.3s;
}

.chosen-drop {
	border: 1px solid #dee1e3 !important;
	border-radius: 4px;
	box-shadow: none !important;
}

.chosen-container-single .chosen-drop {
	margin-top: -2px !important;
	color: $graytext !important;
}

.chosen-container .chosen-results li {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	padding-left: 15px !important;
}

.chosen-container .chosen-results {
	padding: 0;
}

.chosen-container .chosen-results li.highlighted {
	background-color: #f3f5f6 !important;
	color: $graytext;
	background-image: none;
}


//slider

.ui-widget-content {
}

.ui-widget-header {
	background: $blue !important;
	border: 1px solid $blue !important;
	border-radius: 100px !important;
	height: 8px !important;
	top: -1px !important;
}

.ui-slider-horizontal .ui-slider-handle {
	margin-left: -1.2em;
}

.ui-slider .ui-slider-handle {
	background-color: $white !important;
	width: 40px !important;
	height: 40px !important;
	border-radius: 100px;
	cursor: pointer;
	border: solid 1px #dee1e3;
	box-shadow: none !important;
	outline: none !important;
	top: -15px;
}

.ui-slider-handle::before {
	content: '';
	display: block;
	position: absolute;
	left: 5px;
	top: 5px;
	width: 28px;
	height: 28px;
	border-radius: 100px;
	background-color: #ffffff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0), inset 0 1px 2px 0 rgba(0, 0, 0, 0.16);
}

.ui-slider-handle::after {
	content: '';
	display: block;
	position: absolute;
	top: 12px;
	left: 12px;
	width: 15px;
	height: 15px;
	border-radius: 100px;
	background-color: #009cd9;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5), inset 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}

.ui-slider-line {
	width: 1px !important;
	height: 8px !important;
	background-color: #00b1eb !important;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: -36px;
		width: 1px !important;
		height: 8px !important;
		background-color: #00b1eb !important;
	}

}

.ui-slider-label {
	font-family: 'vwheadoffice-regular', sans-serif !important;
	font-size: 11px !important;
	color: #bdc3c6 !important;
}

.ui-slider .ui-slider-pip .ui-slider-label i {
	position: absolute;
	top: -60px !important;
	width: 69px;
	left: -20px;
	font-style: normal !important;

}

.ui-slider .ui-slider-pip .ui-slider-label span {
	width: 40px !important;
	display: inline-block;
	position: absolute;
	top: 8px !important;
	left: -10px;
}

.ui-slider-pips [class*=ui-slider-pip-selected],
.ui-slider-pips [class*=ui-slider-pip-initial],
.ui-slider-pips:not(.ui-slider-disabled) .ui-slider-pip:hover .ui-slider-label {
	font-weight: 400 !important;
}
