include templates/_global_vars
include templates/_global_mixins
include templates/_project_mixins
include templates/_project_vars
- var array = '';
- var arrayFav = '';

block vars
doctype
html(lang='ru')
	head
		+ head(array,arrayFav)
	body(class='#{array.body_class}')
		+ header
		main.page_main(class='#{array.layout_mod}')
			.wrapper
				block filters
				block info
		//- .preloader
		//- 	.js_spin_small
		+ scripts
