extends _layout
include templates/_global_mixins
include templates/_global_vars
include templates/_project_mixins
include templates/_project_vars

block vars
	- var array = {body_class:'page_body', layout_mod:'kdxvw-form', sub_keywords:'',title_inner:'VW - KTO'}

block favicons
	- var arrayFav = {src_ico:'img/favicon.ico', src_png: 'img/favicon.png', src_apple: 'img/apple-touch-icon.png'}

block filters
	include blocks/filters

block info
	include blocks/info
