.info__item {
	border-bottom: 1px solid $white;

	&_extralabors,
	&_extraparts {

		.info__col {

			&_name {
				padding-bottom: 14px;
				@include clearfix;

			}

			&_content {
				span {
					display: block;
				}
			}

		}

	}

	.info__note {
		display: block !important;
		width: 185px;
		font-family: 'vwtextoffice-regular',sans-serif;
		@include font-param(15px, 20px, 400, #7c878e);
		margin-top: 7px;
		margin-bottom: 6px;
	}

}

.info__result-preprice {
	display: none;
}

.info__label {
	width: 72%;
	line-height: 1.53;
	display: block;
	cursor: pointer;
}

.info__open {
	@include font-param(15px, 15px, 700);
	@include clearfix;
	display: block;
	padding-top: 23px;
	padding-bottom: 22px;
	padding-left: 24px;
	padding-right: 24px;
	background-color: #bdc3c6;
	cursor: pointer;
}

.info__content {
	display: none;
}

.info__btn {
	float: right;
	display: block;
	@include size(20px);
	background-color: #0099da;
	border-radius: 50%;
	margin-top: -1px;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: 9px;
		left: 4px;
		@include size(12px, 1px);
		background-color: $white;
	}

	&::after {
		content: '';
		position: absolute;
		top: 4px;
		left: 9px;
		@include size(1px, 12px);
		background-color: $white;
	}

}

.info__btn_open {

	&::before {
		content: '';
		position: absolute;
		top: 9px;
		left: 4px;
		@include size(12px, 1px);
		background-color: $white;
	}

	&::after {
		display: none;
	}

}

.info__head {
	display: none;
}

.info__point {
	padding-bottom: 9px;

}

.info__col {
	padding-left: 24px;

	&_name {
		@include font-param(15px, 15px, 700);
		background-color: #f3f5f6;
		padding-top: 22px;
		padding-bottom: 23px;
		@include clearfix;

		span {
			display: inline-block;
			vertical-align: top;
			width: 66%;
		}

		b {
			float: right;
			margin-right: 17px;
		}

	}

	&_content {
		font-weight: 400;
		padding-top: 15px;
		padding-bottom: 11px;
		@include clearfix;

		span {
			float: left;
			width: 164px;
		}

		b {
			float: right;
			font-weight: 400;
			margin-right: 17px;
			white-space: nowrap;
		}

	}

}

.info__result {
	border-top: 2px solid #bdc3c6;
	border-bottom: 2px solid #bdc3c6;
	padding-left: 24px;
	padding-top: 23px;
	padding-bottom: 25px;
	@include clearfix;

	b {
		float: left;
	}

	.info__result-price {
		float: right;
		margin-right: 17px;
		white-space: nowrap;
	}

}

.info__total {
	padding-left: 24px;
	padding-top: 17px;
	padding-bottom: 30px;
}

.info__total-note {
	display: block;
	width: 129px;
	font-family: 'vwtextoffice-regular',sans-serif;
	@include font-param(14px, 18px, 400, #7c878e);
	margin-top: 10px;
}

.info__total-item {

	b {
		font-weight: 700;
		display: inline-block;
		vertical-align: top;
	}

	&_last {
		margin-top: 20px;
	}

}

.info__total-label {
	width: 130px;
	margin-right: 8px;
}

.info__total-value {
	float: right;
	margin-right: 17px;

	.js_total {
		@include font-param(15px, 15px, 400);
		font-weight: 700;
		white-space: nowrap;
		float: left;
		margin-right: 3px;
	}

}

.info__footnotes {
	@include font-param(14px,1.57,400, #808890);
	margin-bottom: 70px;
	display: none;

	&_open {
		display: block;
	}

}


@media ($wide-widths) {

	.info__result-preprice {
		display: block;
		float: right;

		.icons__ruble {
			width: .5em;
			height: .5em;
		}

	}

	.info__total-value {
		float: right;
		margin-right: 24px;

		.icon__ruble {
			width: .5em;
			height: .5em;
		}

	}

	.info__item {
		border-bottom: 2px solid #bdc3c6;
	}

	.info__open {
		background-color: $white;
		font-size: 24px;
		padding-left: 31px;
		padding-top: 34px;
		padding-bottom: 36px;

		b {
			padding-left: 33px;
		}

	}

	.info__btn {
		float: left;
		background-color: transparent;
		@include size(10px, 15px);
		background-image: url('../img/icons/i-arrow-right.svg');

		&::before,
		&::after {
			display: none;
		}

		&_open {
			transform: rotate(90deg);
		}

	}

	.info__item {

		.info__col {
			@include font-param(16px, 25px, 400);
			padding-left: 0;

			&_1 {
				width: 329px;
				// width: 38.5%;
			}

			&_2 {
				width: 179px;
				// width: 21%;
			}

			&_3 {
				width: 179px;
				// width: 21%;
			}

			&_4 {
				width: 157px;
				// width: 18.3%;
			}

			&_2 span {
				width: 102px;
			}

			&_3 span {
				width: 85px;
			}

			&_4 span {
				width: 80px;
			}

			span {
				display: none;
			}

			&_content {
				display: inline-block;
				vertical-align: top;
				padding: 0;

				b {
					float: none;
					margin-right: 0;
				}

			}

			&_name {
				display: inline-block;
				vertical-align: top;
				background-color: transparent;
				padding: 0;
				width: 38%;

				span {
					display: inline-block;
					width: 208px;
				}

				b {
					display: none;
				}

			}

		}

		.info__col_content {

			&_1 {
				width: 21%;
			}

			&_2 {
				width: 21%;
			}

			&_3 {
				b {
					margin-left: -8%;
				}
			}

		}

	}

	.info__head {
		display: block;
		padding-left: 30px;
		background-color: #bdc3c6;

		.info__col {
			padding-left: 0;
			padding-bottom: 45px;
			padding-top: 23px;

			span {
				@include font-param(16px, 24px, 700);
				display: inline-block;
			}

		}

	}

	.info__point {
		padding-left: 30px;
		padding-top: 17px;
		padding-bottom: 15px;
	}

	.info__item_labors,
	.info__item_extralabors{

		.info__point:nth-child(odd) {
			background-color: #f3f5f6;
		}

	}

	.info__item_parts,
	.info__item_extraparts{

		.info__point:nth-child(even) {
			background-color: #f3f5f6;
		}

	}

	.info__label {
		width: 69%;
		font-family: 'vwtextoffice-regular',sans-serif;
		font-weight: 400;
	}

	.info__result {
		font-size: 16px;
		border-bottom: none;
		padding-left: 30px;
		padding-right: 90px;
		padding-top: 24px;
		padding-bottom: 24px;

		b {
			width: 210px;
		}

		.info__result-price {
			float: right;
			width: auto;
			margin-right: 0;
		}

	}

	.info__total {
		padding-left: 8%;
		padding-top: 29px;

		b {
			font-size: 24px;
			font-weight: 700;
		}

		.info__total-item_last {
			margin-top: 35px;
		}

	}

	.info__total span {
		width: 280px;
		font-size: 16px;
		margin-top: 12px;
	}

	.info__total-label {
		width: 309px;
	}

	.info__total-value {

		.js_total {
			font-size: 24px;
			font-weight: 700;
			float: none;
			margin-right: 0;
		}

	}

}
